@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

body {
    font-family: "roboto", sans-serif;
}

/* ---Global CREDIT: Code Institute Slack community---*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---Navbar styling CREDIT: Code Institue Whiskey Drop and https://stackoverflow.com/---*/

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(103,103,103.1);    
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;  
}

.navbar .navbar-text {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.dropdown-menu {
    background-color: #1aab3b;
} 

.dropdown-item {
    color: white;
    border: 1px;
    border-color: rgba(103,103,103.1);
}



/* ---Jumbotron image banner CREDIT: Code Institue Whiskey Drop and Love Running Tutorials---*/

.jumbotron {
    height: 100%;
    background: url("../images/hero-mini.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 35%;
    padding-bottom: 10%;   
}

.vehicles-jumbotron {
    height: 100%;
    background: url("../images/vehicle-orange.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 35%;
    padding-bottom: 10%;   
}

.customisation-jumbotron {
    height: 100%;
    background: url("../images/custom-and-repairs-image.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 35%;
    padding-bottom: 10%;   
}

.servicing-jumbotron {
    height: 100%;
    background: url("../images/servicing-repairs-image.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 35%;
    padding-bottom: 10%;   
}

.testimonial-page-jumbotron {
    height: 100%;
    background: url("../images/testimonials-jumbotron.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 35%;
    padding-bottom: 10%;   
}

.contact-us-page-jumbotron {
    height: 100%;
    background: url("../images/contact-us.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 35%;
    padding-bottom: 10%;   
}

/* ---vehicles, customisations, Service/Repairs images and buttons---*/

.vehicle-page-image, .custom-options-image, .servicing-repairs-image {
    margin-top: 50px;
    width: 100%;
    display: block;
}

/* ---code and imput researched to layer buttons CREDIT: w3schools.com for styling---*/
.vehicle-container .vehicle-image-btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(103,103,103.1);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.vehicle-container .vehicle-image-btn:hover {
  background-color: #1aab3b;
}

.custom-container .custom-image-btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(103,103,103.1);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.custom-container .custom-image-btn:hover {
  background-color: #1aab3b;
}

.servicing-container .servicing-image-btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: rgba(103,103,103.1);
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.servicing-container .servicing-image-btn:hover {
  background-color: #1aab3b;
}

/* ---Featured car and home page---*/

.content-about-us-hpc {
    padding-top: 25px;
    color: rgba(103,103,103.1);
}

.specialist-mini {
    padding-bottom: 25px;
    color: rgba(103,103,103.1);
}

.appointment-only {
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgba(103,103,103.1);
}

.confidence-quote {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(103,103,103.1);
}

/* ---About Us content---*/

.used-car-heading-main {
    padding-bottom: 50px;
    color: rgba(103,103,103.1);
}

.used-car-heading {
    padding-bottom: 10px;
}

.used-car {
    border: 5px;
    border-color: rgba(103,103,103.1);
}

.used-banner-outer {
    margin:0;
    padding-top: 25px;
    padding-bottom:125px;
    background-color: #cccccc;
}

.used-car-description {
    font-weight: 500;
    background-color: rgba(103,103,103.1);
    color: white; 
}

/* ---Google Maps CREDIT: https://stackoverflow.com/---*/

.mapouter {
	position: relative;
	text-align: right;
	height: 100%;
	width: 100%;
    margin:0;
    padding:0;
}

.gmap_canvas {
	overflow: hidden;
	background: none;
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

#gmap_canvas_image {
    width: 100%;
    height: 320px;
}

.google-map-section {
    padding: 0;
    margin: 0;
    line-height: 0;
}

/* ---Contact and opening times---*/

.contact-times-banner {
    color: white;
    background-color: rgba(103,103,103.1);
    height: 250px;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.color-break-point-1 {
    background-color: #1aab3b;
    height: 25px;
    padding: 0;
    margin: 0;
}

.color-break-point-2 {
    background-color: #1aab3b;
    height: 25px;
    padding: 0;
    margin: 0;
}

/* ---Social links and copyright CREDIT: https://fontawesome.com/---*/

.social-links-copyright {
    background-color: #cccccc;
    padding-top: 35px;
    padding-bottom: 35px;
}

.list-inline-item {
    font-size: 45px;
}

.slogon-quote {
    font-weight: bold;
    font-style: italic;
    color:#0089ff;
}

/* ---Vehicle page---*/

.used-vehicle-banner-outer {
    margin:0;
    padding-top: 0;
    padding-bottom:50px;
    background-color: white;
}

.vehicle-one-car-heading-main {
    padding-bottom: 50px;
    color: rgba(103,103,103.1);
}

.vehicle-one-car-heading {
    padding-bottom: 10px;
}

/* ---customisation and options images and buttons---*/

.vehicle-body-decals {
    width: 100%;
    display: block;
}

.vehicle-body-heading {
    padding-bottom: 10px;
}

.customisation-options-extras {
    margin-top: 50px;
    border: 5px;
    border-color: rgba(103,103,103.1);
}

.customisation-options-extras-final {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px;
    border-color: rgba(103,103,103.1);
}


.vehicle-body-decals-description {
    font-weight: 500;
    background-color: rgba(103,103,103.1);
    color: white; 
}

.customisation-options {
    width:100%;
    height:100%;
}


/* ---Contact Us form---*/


.get-in-touch-contact-form .form-group .contact-us-form .form-control {
    color:  rgba(103,103,103.1);
    font-weight: 500;
    background-color: #cccccc;
    border-color:  rgba(103,103,103.1);
}

.get-in-touch {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-us-page-headline {
    color: #1aab3b;
    font-weight: bold;
}

/* ---Media queries CREDIT: https://stackoverflow.com/---*/


@media screen and (max-width: 992px) {
  .used-car-spec {
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
    .used-car-heading {
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  .used-car-price {
    font-size: 12px;
  }
}

@media screen and (min-width: 993px) {
  .used-car-spec {
    font-size: 15px;
  }
}

@media screen and (min-width: 993px) {
    .used-car-heading {
    font-size: 18px;
  }
}

@media screen and (min-width: 993px) {
  .used-car-price {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .container, .row {
    padding: 0px;
    border: hidden;
    
  }
}

@media (max-width: 767px) {
  .form-group, .contact-us-form {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px;
    }
}

@media (max-width: 767px) {
    [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .container-fluid {
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
}
